/windows_phone/BraintreeEncryptionExample.sln.DotSettings.user
/windows_phone/BraintreeEncryptionExample.suo
/windows_phone/BraintreeEncryptionExample/bin/*
/windows_phone/BraintreeEncryptionExample/obj/*
/windows_phone/_ReSharper.BraintreeEncryptionExample
